<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Desarrollativa</title>
</head>
<body style="text-align: center;">
    <h1>CALCULADORA DESARROLLATIVA</h1>
    <a href="/comparador_numeros">CONVERSOR DE NÚMEROS</a><br><hr>
    <a href="/calificacion">CALIFICACIONES</a><br><hr>
    <a href="/calculo_ventas">CÁLCULO DE VENTAS</a><br><hr>
    <a href="/doble_triple">CALCULADORA DE DOBLES Y TRIPLES</a><br><hr>
    <a href="/calculo_area">CÁLCULO DE ÁREAS GEOMÉTRICAS</a><hr>
</body>
</html>
